@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



* {
    margin: 0px;
    padding: 0px;
    font-family: 'Press Start 2P', cursive;
    border: none;

}

/* Tela de Login
----------------------*/
.login-form{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;

}

.login-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.login-header img {
    width: 200px;
}

.login-header h1 {
    margin-bottom: 50px;
    color: #333;
    font-size: 1.5;
}

.login-input {
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 1em;
    margin-bottom: 15px;
    width: 100%;
    max-width: 266px;
    outline: none;
    padding: 15px;
}

.login-button {
    background-color: #ee665c;
    padding: 15px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    max-width: 300px;
}

.login-button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}